

@media only screen and (max-width: 592px) {
    .banner_content{
        width: 100%;
    }
    .banner_section{
        display: block;
    }
    .banner_title,.banner_higlit{
        font-size: 2rem;
    }
    .banner_section{
        padding: 50px 0px;
    }
    
    .hamber_iocn i{
        color: white;
    }
    .navmenu{
        display: none;
    }
    .hamber_iocn{
        display: block;
    }
    .banner_shape_one{
        left: 0px;
    }
    .banner_shape_two{
        right: -20px;

    }
    .banner_img img{
        width: 80%;
        text-align: center;
    }

    /* Habit Section */

    .habit_content{
        width: 100%;
    }
    .habit_title{
        font-size: 1.8rem;
    }
    .habit_all_card{
        grid-template-columns: repeat(1,1fr);
    }
    .habit_card_title,.habit_card_des{
        width: 60%;
        margin: auto;
    }
    .habit_card{
        margin: 15px 0px;
    }
    .run_content{
        width: 100%;
    }
    .run_all_content{
        display: block;
        padding: 20px;
        
    }
    .run_title{
        font-size: 1.8rem;
    }
    .run_img {
        text-align: center;
        margin-top: 20px;
    }
    .run_img img{
        width: 100%;
    }
    .train_card_three,.train_card_six{
        display: none;
    }
    .train_card_content img{
        height: auto;
    }
    .bmi_content_area{
        width: 85%;
    }
    .bmi_all_box{
        grid-template-columns: repeat(1,1fr);
    }
    .height, .weight,.age{
        width: 33%;
    }
    .all_workout{
        display: block;
    }
    .workout_img{
        width: 100%;
        padding-bottom: 20px;
    }
    .team_content{
        width: 85%;
        text-align: center;
    }
    .team_card{
        grid-template-columns: repeat(1,1fr);
    }
    .footer_container,.footer_list{
        grid-template-columns: repeat(1,1fr);
    }
    .bmi_content_area{
        padding-top: 20px;
    }
    .banner_btn_one,.banner_btn_two{
        font-size: 0.8rem;
        padding: 10px 20px;
    }
    .banner_btn{
        display: flex;
    }
    .bmi_title{
        font-size: 2.1rem;
    }
}

/* Responsive for table */

@media screen and (min-width: 592px) and (max-width:992px){
    .banner_section{
        display: block;
        padding: 50px 0px;

    }
    .banner_content{
        width: 85%;
    }
    .banner_img {
        width:60% ;
        margin: auto;
    } 
    .habit_content{
        width: 85%;
    }
    .habit_all_card{
        grid-template-columns: repeat(2,1fr);
    }
    .habit_card{
        padding: 10px 0px;
    }
    .run_content{
        width: 100%;
    }
    .run_img img{
        width: 80%;
    }
    .train_card_content img{
        height: 160px;
    }
    .bmi_content_area{
        width: 85%;
    }
    .bmi_all_box{
        grid-template-columns: repeat(1,1fr);
    }
    .height, .weight,.age{
        width: 42%;
    }
    .workout_img{
        width: 100%;
    }
    .team_content{
        width: 85%;
    }
    .footer_container{
        grid-template-columns: repeat(1,1fr);
    }
    .footer_logo_section{
        padding: 20px 0px;
    }
}

