@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@font-face {
    font-family: 'shape'; 
    src: url('shape.otf'); 
    
  }
*{
    margin: 0px;
    padding: 0px;
}

h2{
    font-family:'shape';
}