@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@font-face {
    font-family: 'shape'; 
    src: url('shape.otf'); 
    
  }
*{
    margin: 0px;
    padding: 0px;
    font-family: "Inter", sans-serif;
}

:root {
    --tomato: rgb(230, 83, 60);
    --white : rgb(255, 255, 255);
    --dark  : rgba(255, 255, 255, 0.5);
    --balck : rgb(0, 0, 0);
    --light-black: rgb(34, 34, 34);
  
  }

.container{
    width: 85%;
    margin: 0 auto;
}

/* Header css */
.head{
    /* background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%); */
    background: linear-gradient(180deg, #171717, #292929, #171717);


}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}
.logo a{
    text-decoration: none;
}
.logo_item{
    font-size: 1.8rem;
    color: var(--tomato);
}
.navmenu ul{
    display: flex;
    gap: 30px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 7px 0px;
    border-radius: 35px;
}
.nav_item{
    list-style: none;
}
.nav_link{
    text-decoration: none;
    color: var(--white);
    font-size: 1.1rem;
    font-weight: 600;
    padding: 8px 20px;
    
}
.active{
    background-color: var(--tomato);
    padding: 7px 20px;
    border-radius: 35px;
}
.nav_link:hover{
    background-color: var(--tomato);
    padding: 7px 20px;
    border-radius: 35px;
}


/* Banner Section */

.banner_section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}
.banner_content{
    width: 40%;
}
.banner_title{
    font-size: 4rem;
    font-weight: 900;
    color: var(--white);
}
.banner_higlit{
    font-family: 'shape';
    font-weight: 400;
    font-size: 5rem;
}
.banner_des{
    color: var(--dark);
    font-weight: 400;
    font-size: 1rem;
    line-height: 24px;
}
.banner_btn{
    margin: 15px 0px;
}

.banner_btn_one{
    font-size: 1.1rem;
    color: var(--white);
    padding: 12px 32px;
    background-color: var(--tomato);
    border: 1px solid rgba(255, 255, 255, 0.1);;
    border-radius: 42px;
}
.banner_btn_two{
    font-size: 1.1rem;
    color: var(--white);
    padding: 12px 32px;
    border: none;
    border-radius: 42px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.1);;
}
.banner_img{
    position: relative;
}
.banner_img img{
    width: 100%;
    text-align: center;
}

.banner_shape_one,.banner_shape_two{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    display: flex;
    width: 170px;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

.banner_shape_icon i{
    font-size: 35px;
    color: var(--tomato);
}
.banner_shape_title{
    font-size: 1.4rem;
    color: var(--white);
}

.banner_shape_des{
    font-size: 1rem;
    color: var(--dark);
    padding: 5px 0px;
}
.banner_shape_title_two{
    color: var(--white);
    font-size: 2rem;
    font-weight: 900;
}
.banner_shape_one{
    position: absolute;
    left: -100px;
    bottom: 100px;
}
.banner_shape_two{
    position: absolute;
    right: -50px;
    top: 100px;
}

/* Habit Section */
.habit_section{
    background-color: var(--balck);
    padding: 50px 0px;
    text-align: center;
}
.habit_content{
    width: 50%;
    margin: 0 auto;
    padding: 20px 0px;
}
.habit_title{
    font-size: 3rem;
    font-weight: 900;
    color: var(--white);
    margin: 5px 0px;
}
.habit_des{
    font-size: 0.9rem;
    color: var(--dark);
    font-weight: 400;
    line-height: 24px;
}
.habit_all_card{
    margin: 20px 0px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.habit_card img{
    border-radius: 50%;
    border: 3px solid rgb(68, 68, 68);
    margin: 5px;
}
.habit_card_title{
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--white);
    margin-top: 10px;
}
.habit_card_des{
    font-size: 0.rem;
    color: var(--dark);
    padding: 5px;
}

/* Run section */
.run{
    background-color: var(--balck);
    padding: 50px 0px;
}

.run_all_content{
    background-color: var(--light-black);
    padding: 50px 50px;
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.run_content{
    width: 50%;
}

.run_title{
    color: var(--white);
    font-size: 2.6rem;
    padding: 10px 0px;
}
.run_des{
    color: var(--dark);
    font-size: 0.9rem;
    padding-bottom: 10px;
    line-height: 24px;
}
.run_img{
    text-align: end;
}
.run_img img{
    width: 50%;
    border-radius: 18px;
  
}

/*********  Training CSS **************/
.training{
    background-color: var(--balck);
    padding: 50px 0px;
}
/* .train_card_one,
.train_card_two,
.train_card_three,
.train_card_four,
.train_card_five,
.train_card_six
{
    display: flex;
    flex: 1;
} */

.train_card_content{
    position: relative;
    width: 100%;
}

.train_card_content img{
    width: 100%;
    display: block;
    height: 240px;
   
}




.train_card_title {
    color: var(--white);
    font-size: 0.9rem;
    padding: 20px;
    width: 50%;
}

.train_card_one{
    grid-area: card_one;
}
.train_card_two{
    grid-area: card_two;
}
.train_card_three{
    grid-area: card_three;
}
.train_card_four{
    grid-area: card_four;
}
.train_card_five{
    grid-area: card_five;
}
.train_card_six{
    grid-area: card_six;
}


.train_all_card {
    padding: 50px 0px;
    display: grid;
    grid-template-areas:
       "card_one    card_two    card_two    card_two    card_two   card_two     card_three "
       "card_four   card_four   card_four   card_four   card_five   card_six    card_six"
       ;
}

.card_one_overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(6, 255, 210, 0.5);
    display: flex;
    justify-content: start;
    align-items: end;
}

.card_two_overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 0, 0, 0.3);
    display: flex;
    justify-content: start;
    align-items: start;
}

.card_three_overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: start;
    align-items: end;
}
.card_four_overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: end;
    align-items: start;
}
.card_five_overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(66, 255, 0, 0.3);
    display: flex;
    justify-content: start;
    align-items: end;
}
.card_six_overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 71, 255, 0.3);
    display: flex;
    justify-content: start;
    align-items: end;
}

/********** BMI SECTION CSS **********************/
.bmi_section{
    background-color: var(--balck);
    padding: 50px 0px;
}
.bmi_content_area{
    width: 50%;
    margin: 0 auto;
}
.bmi_title{
    font-size: 2.6rem;
    color: var(--white);
}
.bmi_des{
    color: var(--dark);
    font-size: 0.9rem;
    padding: 10px 0px;
}

.bmi_content{
    background-color: var(--light-black);
    padding: 50px 0px;
}
.bmi_all_box{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.bmi_chart_title{
    font-size: 1.4rem;
    color: var(--white);
}

table, th, td{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-collapse: collapse;
    padding: 10px 20px;
    color: var(--dark);
}
.bmi_table th{
    color: var(--light-black);
    font-size: 1rem;
    color: var(--white);
    font-weight: 500;
}
input,select,option {
    background: rgba(255, 255, 255, 0.1);
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    color: var(--dark);
    font-size: 1rem;
    outline: none;
}
.height, .weight,.age,.sex{
    margin: 10px 5px;
}
.select{
    width: 100%;
}
select option {
    background-color: var(--light-black);
    color: var(--dark);

}
select{
    margin: 10px 5px;
}
.bmi_table{
    margin: 30px 0px;
    
}